*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  --header-bg-color: #493628;
  --header-text-color: #e4e0e1;
  --aside-bg-color: #d6c0b3;
  --aside-text-color: #493628;
  --main-bg-color: #e4e0e1;
  --main-text-color: #493628;
  --button-bg-color: #d6c0b3;
  --button-text-color: #493628;
  --account-icon-wh-size: 35px;
  --option-icon-wh-size: 15px;
  --project-icon-wh-size: 22px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
